body {
    margin: 0;
    padding: 0;
    padding-top: 150px;
    background-color: #555;
    background-image: linear-gradient(rgba(85, 85, 85, 0.3), rgba(51, 51, 51, 0.5)), url("brick_wall.png"); 
    background-repeat: repeat;
    background-size: 150px;
    color: #f4f4f4; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
}

main {
    padding: 40px;
    margin: 40px auto;
    margin-bottom: 100px;
    max-width: 75%;
    min-width: auto;
    background-color: rgba(51, 51, 51, 0.7); 
    border-radius: 8px;
    box-shadow: 0 0 25px rgb(34, 34, 34);

}

a {
    color: #4CAF50; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #388E3C; 
}

.info-block {
    background-color: #3f3f3f; 
    padding: 25px; 
    margin-bottom: 20px;
    border-radius: 6px; 
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.05); 
    border-left: 5px solid #4CAF50; 
    transition: box-shadow 0.25s ease-in-out;
    opacity: 0.9;
}

.info-block:hover{
    box-shadow: 0 0px 6px #4caf4f93; 

}

.info-block-name {
    color: #4CAF50; 
    font-size: 1.2em; 
    margin-bottom: 10px;
    font-weight: bold; 
}

.info-block-inhalt {
    display: block;
    list-style: none;
    padding-left: 20px;
}

.info-block-inhalt li::before {
    content: "\2022"; 
    color: #4CAF50; 
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* Style für Tabellen mit 3 Spalten */
.price-table:not(.two-columns) th:nth-child(1),
.price-table:not(.two-columns) td:nth-child(1) {
    width: 50%;
}

.price-table:not(.two-columns) th:nth-child(2),
.price-table:not(.two-columns) td:nth-child(2),
.price-table:not(.two-columns) th:nth-child(3),
.price-table:not(.two-columns) td:nth-child(3) {
    width: 25%;
}

/* Style für Tabellen mit 2 Spalten */
.price-table.two-columns th:nth-child(1),
.price-table.two-columns td:nth-child(1) {
    width: 75%;
}

.price-table.two-columns th:nth-child(2),
.price-table.two-columns td:nth-child(2) {
    width: 25%;
}

.table-container , .table-container-2{
    overflow-x: auto; 
    margin-bottom: 20px;
}

.price-table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 15px;
    background-color: #444; 
    color: #f4f4f4; 
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
}

.price-table th, .price-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #555;
    white-space: nowrap; 
}

.price-table th {
    background-color: #333;
    font-weight: bold;
}

.price-table tbody tr:nth-child(even) {
    background-color: #4a4a4a;
}

.price-table tbody tr:hover {
    background-color: #555; 
}

@media (max-width: 600px) {
    .price-table:not(.two-columns) th:nth-child(1),
    .price-table:not(.two-columns) td:nth-child(1) {
        width: 40%;
    }

    .price-table:not(.two-columns) th:nth-child(2),
    .price-table:not(.two-columns) td:nth-child(2),
    .price-table:not(.two-columns) th:nth-child(3),
    .price-table:not(.two-columns) td:nth-child(3) {
        width: 30%;
    }

    .price-table.two-columns th:nth-child(1),
    .price-table.two-columns td:nth-child(1) {
        width: 60%;
    }

    .price-table.two-columns th:nth-child(2),
    .price-table.two-columns td:nth-child(2) {
        width: 40%;
    }
}

.secundary-text {
    display: flex;
    color: #4CAF50; 
    justify-content: center;
    font-weight: bold; 
}

.photo-block{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background-color: #3f3f3f; 
    padding: 40px; 
    margin-bottom: 20px;
    border-radius: 6px; 
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.05); 
    border-left: 5px solid #4CAF50; 
    transition: box-shadow 0.25s ease-in-out;
    opacity: 0.9;
}

.photo-block:hover{
    box-shadow: 0 0px 6px #4caf4f93; 

}

.photoImg{
    width: 240px;
    height: 240px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    object-fit: cover; 
}

.photoImg:hover {
    transform: scale(1.03); 
}

.photoImg.zoomed {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    max-width: 95%; 
    max-height: 90%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 10px;
    object-fit: contain; 
    image-rendering: optimizeQuality;
    z-index: 1000;
}

/* Further reduce scale on very small screens */
@media (max-width: 400px) {
    .photoImg.zoomed {
        transform: translate(-50%, -50%) scale(2);
    }
}

.zoom-navigation {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    right: 0;
    min-width: auto;
    transform: translateY(-50%);
    padding: 0 10px;
    z-index: 1001;
}

.zoom-navigation button {
    font-size: 1.5em;
    padding: 60px 30px;
    margin: 0 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

/* Hide navigation buttons on very small screens */
@media (max-width: 500px) {
    .zoom-navigation button {
        display: none;
    }
}

.zoom-navigation button.disabled-button {
    color: #4a4a4a;
}

.zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* Below the zoomed image and navigation */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; /* Fade in, and delay visibility to hide quickly */
    
}